@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

html, body {
	background: #000000 url("../images/bg.svg") 50% 50% no-repeat;
	background-size: cover;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;

	.dragon {
		min-width: 300px;
		width: 30%;
	}

	.teaser {
		color: #fff;
		font-size: 2rem;
		font-weight: 300;
		letter-spacing: 0.2rem;
		text-transform: uppercase;
	}

	.btn {
		border: 1px solid rgba(255,255,255,0.2);
		border-radius: 2px;
		padding: 0.7rem 1.25rem 0.5rem 1.25rem;
		transition: all 0.3s;
		width: 90px;

		&:hover {
			background: rgba(#0D073A, 0.2);
			background: linear-gradient(45deg, rgba(10,7,57,0.5) 0%, rgba(104,3,47,0.5) 100%);
			border-color: rgba(#fff, 0.35);
			box-shadow: 0px 0px 20px 0px rgba(#fff,0.25);
		}

		.gh {

		}
	}
}